{% extends "index.html" %}
{% load static %}
{% block content %}
<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <form action="{% url 'Search_filter' %}" method="GET">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                            aria-describedby="search-icon-1" name="search">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    {% if messages %}
    <div style="background: none; text-align: center;">
        {% for i in messages %}
        <p style="font-size: 30px; margin: 0; color:red;">{{ i }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container py-5">

        <h1 class="mb-4">Fresh fruits shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <form method="get" action="{% url 'shop' %}" id="fruitform">
                            <div class=" ps-3 py-3 rounded d-flex mb-4">
                                <label for="fruits" style="margin-left: 150px;"></label>
                                <select id="fruits" name="sort" class="border-0 form-select-sm bg-light me-3">
                                    <option value="lth">Default Sorting:</option>
                                    <option value="lth">Low to high</option>
                                    <option value="htl">High to Low</option>
                                    <option value="atz">A to Z</option>
                                    <option value="zta">Z to A</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    {% for i in cid %}
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="?catagory={{i.id}}"><i
                                                        class="fas fa-apple-alt me-2"></i>{{i.name}}</a>

                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Price</h4>
                                    {% for j in price_show %}
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="?price={{j.id}}"><i
                                                        class="fas fa-apple-alt me-2"></i>{{j.name}}</a>

                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <form action="{% url 'Price_filter' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="max1" min="0"
                                            max="1000" value="" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="500"
                                            for="rangeInput">{{max1}}</output>
                                    </div>
                                    <input style="background-color: #81C408; color:#fff; padding:5px 10px; border:none;"
                                        type="submit" value="Submit" /> <!-- add to butten dejango -->
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <form method="GET" action="{% url 'shop' %}">
                                    <div class="mb-3">
                                        <h4>Additional</h4>
                                        {% for additional in Additional_all %}
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Additional-{{ additional.id }}"
                                                name="Additional_filter" value="{{ additional.id }}">
                                            <label for="Additional-{{ additional.id }}">{{additional.name}}</label>

                                        </div>
                                        {% endfor %}

                                        <button
                                            style="background-color: #81C408; color:#fff; padding:5px 10px; border:none;"
                                            type="submit">Filter</button>

                                        <!-- <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1"
                                            value="Beverages">
                                        <label for="Categories-2"> Fresh</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1"
                                            value="Beverages">
                                        <label for="Categories-3"> Sales</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1"
                                            value="Beverages">
                                        <label for="Categories-4"> Discount</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1"
                                            value="Beverages">
                                        <label for="Categories-5"> Expired</label>
                                    </div> -->
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="{% static 'img/featur-1.jpg' %}" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="{% static 'img/featur-2.jpg' %}" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="{% static 'img/featur-3.jpg' %}" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#"
                                        class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                        More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="{% static 'img/banner-fruits.jpg' %}" class="img-fluid w-100 rounded"
                                        alt="">
                                    <div class="position-absolute"
                                        style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            {% for i in pid %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <a href="{% url 'shop_detail' i.id %}"> <img src="{{i.image.url}}"
                                                class="img-fluid w-100 rounded-top" alt=""></a>
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                        style="top: 10px; left: 10px;">Fruits</div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>{{i.name}}</h4>
                                        <p>{{i.desciption}}</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">&#8377; {{i.price}} </p>

                                            {% if i.id in l2 %}
                                            <a href="{% url 'add_to_Wishlist' i.id %}">
                                                <div style="font-size: 25px;">
                                                    <i class="fa-solid fa-heart" style="color:#f30909"></i></div>
                                            </a>

                                            {% else %}
                                            <a href="{% url 'add_to_Wishlist' i.id %}">
                                                <div style="font-size: 25px;"><i class="fa-solid fa-heart" style="color:rgb(93, 64, 64)"></i></div>
                                            </a>
                                            {% endif %}

                                           
                                        </div>
                                        <a href="{% url 'shop_detail' i.id %}"
                                            class="btn border border-secondary rounded-pill px-2 text-primary"><i
                                                class=" me-1 text-primary"></i>Views Details</a>
                                        <a href="{% url 'add_to_cart' i.id %}"
                                            class="btn border border-secondary rounded-pill px-2 text-primary">
                                            <i class="fa fa-shopping-bag me-1 text-primary"></i> Add to cart
                                        </a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}




                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    {% if pid.has_previous %}
                                    <a href="?page={{pid.previous_page_number}}" class="rounded">&laquo; Previous</a>
                                    {% endif %}

                                    {% for i in show_page %}
                                    {% if i == pid.number %}
                                    <a href="?page={{i}}" class="active rounded">{{i}}</a>
                                    {% else %}
                                    <a href="?page={{i}}" class="rounded">{{i}}</a>
                                    {% endif %}
                                    {% endfor %}
                                    <!--<a href="#" class="rounded">2</a>
                                    <a href="#" class="rounded">3</a>
                                    <a href="#" class="rounded">4</a>
                                    <a href="#" class="rounded">5</a>
                                    <a href="#" class="rounded">6</a> -->

                                    {% if pid.has_next %}
                                    <a href="?page={{pid.next_page_number}}" class="rounded">&raquo; Next</a>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<script>
    document.getElementById('fruits').addEventListener('change', function () {
        document.getElementById('fruitform').submit();
    });
</script>
{% endblock %}